<body>
    {{> navbar}}
<main class="container main-wrap">
    <h1>Админ панель</h1>
    <p><b>Пользователи сайта</b> </p>
    <ul>
        {{#each users as |user|}}
         <li class="users-list__item">Имя: {{user.first_name }} | Фамилия: {{user.second_name }} | Email: {{user.email}} | Role: {{user.role}} | Id: {{user.id}} </li>
        {{/each}}

    </ul>
    
</main><!-- /.container -->
</body>