<body>
    {{> navbar}}
<main class="container main-wrap">
    <h1>Личный кабинет</h1>
    <P>Ваше имя: {{firstname}} </P>
    <p>Ваша фамилия {{secondname}} </p>
    <p>Ваш емайл {{email}}</p>
    <P>Ваш id: {{id_user}}</P>
    
    <p>Ваша роль: {{ role }}</p>


</main><!-- /.container -->
</body>